<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.prakanshu"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="18"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
 

    <application
        android:allowBackup="true"
        
        android:theme="@style/AppTheme" >
        <activity
            
            android:name="com.example.prakanshu.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.prakanshu.MyLibrary"
            android:label="MyLibrary" >
        </activity>
        <activity android:name="com.example.prakanshu.Songs" >
        </activity>
        <activity android:name="com.example.prakanshu.Genre" >
        </activity>
        <activity
            android:name="com.example.prakanshu.SongsActivity"
            android:label="@string/title_activity_songs" >
        </activity>
        <activity
            android:name="com.example.prakanshu.MainActivity1"
            android:label="@string/title_activity_main_activity1" >
        </activity>
          <activity
            android:name="com.example.prakanshu.MyPlayList"
            android:label="MyPlayList" >
            
        </activity>
        <activity android:name="com.example.prakanshu.Share"
            android:label="Share" >
            </activity>
              <service android:name="com.example.prakanshu.MyService"/>
    </application>

</manifest>
